

.clock {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 0px solid #333;
    color: #fff;
    font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    text-transform:uppercase;
}

.clock #Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}

.clock ul {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.clock ul li {
    display: inline;
    font-size: 10em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.clock #point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
    }
}
